<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Finger</string>
		<key>content</key>
		<string>Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Finger</string>
		<key>content</key>
		<string>Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Finger</string>
		<key>content</key>
		<string>Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Finger</string>
		<key>content</key>
		<string>Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Finger</string>
		<key>content</key>
		<string>Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger Finger5</string>
	</dict>
</array>
</plist>
