<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Who is your soul mate?</string>
		<key>watchNum</key>
		<string>1200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>What kind of guy can you attract ?</string>
		<key>watchNum</key>
		<string>200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Which wedding dress suits your personality?</string>
		<key>watchNum</key>
		<string>490</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Which symbol is your perfect match?</string>
		<key>watchNum</key>
		<string>798</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>What should your name be? （Only for girls）</string>
		<key>watchNum</key>
		<string>3400</string>
	</dict>
</array>
</plist>
