<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Who is your soul mate?</string>
		<key>watchNum</key>
		<string>1200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Who is your soul mate Who is your soul mate?</string>
		<key>watchNum</key>
		<string>200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Who is your soul mate?</string>
		<key>watchNum</key>
		<string>1200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Who is your soul mate?</string>
		<key>watchNum</key>
		<string>1200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Who is your soul mate?</string>
		<key>watchNum</key>
		<string>1200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Who is your soul mate?</string>
		<key>watchNum</key>
		<string>1200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Who is your soul mate?</string>
		<key>watchNum</key>
		<string>1200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Who is your soul mate?</string>
		<key>watchNum</key>
		<string>1200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Who is your soul mate?</string>
		<key>watchNum</key>
		<string>1200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Who is your soul mate?</string>
		<key>watchNum</key>
		<string>1200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Who is your soul mate?</string>
		<key>watchNum</key>
		<string>1200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>constellation_detail_palma</string>
		<key>title</key>
		<string>Who is your soul mate?</string>
		<key>watchNum</key>
		<string>1200</string>
	</dict>
</array>
</plist>
