<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>testId</key>
		<string>1</string>
		<key>headImage</key>
		<string>10001</string>
		<key>title</key>
		<string>Choose Some Pokemon, And We&apos;ll Tell You What October Meme Is Literally Your Life</string>
		<key>watchNum</key>
		<string>1200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>2</string>
		<key>headImage</key>
		<string>10002</string>
		<key>title</key>
		<string>How Normal Are You?</string>
		<key>watchNum</key>
		<string>200</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>3</string>
		<key>headImage</key>
		<string>10003</string>
		<key>title</key>
		<string>Do You Have A Higher IQ Than Your Lover?</string>
		<key>watchNum</key>
		<string>490</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>4</string>
		<key>headImage</key>
		<string>10004</string>
		<key>title</key>
		<string>Answer Some Questions About Your Life And We&apos;ll Tell You Where To Go On Vacation</string>
		<key>watchNum</key>
		<string>798</string>
	</dict>
	<dict>
		<key>testId</key>
		<string>5</string>
		<key>headImage</key>
		<string>10005</string>
		<key>title</key>
		<string>How Weird Are You?</string>
		<key>watchNum</key>
		<string>3400</string>
	</dict>
</array>
</plist>
