<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>Weird is wonderful in your eyes and you believe that the world is full of weirdoes. Let’s face it. Humans are pretty weird species. When we compare ourselves to other things in this world, we just add to the weird and wonderful parts of it. You like your egg scrambled and hate routine. Life is a rollercoaster for you and most people don’t understand your lifestyle and what you do as you have stepped out of your comfort zone and stepped into the weirdness.</string>
					<key>title</key>
					<string>Weird</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are as normal as normal gets-if there ever was such a thing! You wouldn’t miss a night without brushing your teeth or go a week without washing your bed sheets if your life depended on it. You love structure and routine and this is what keeps you on the right path. You can’t roll your tongue and you should be grateful that you have not been mixed with alien beings that make that ability possible. Being normal is by no means a bad thing; it just means you are part of select part of society and move along with it wherever life takes you.</string>
					<key>title</key>
					<string>Normal</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You like to think you lead a normal life but something is quite off balance. You have strange habits and like obscure things. Your taste is refined and being obscure might be an understatement. People find it difficult to understand you and instead of following the crowd and eating fried eggs, or scrambled or dippy, you will go for poached-you like to go to the extreme of situations, try new things and look at things in a different perspective.</string>
					<key>title</key>
					<string>Obscure</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>Umm we&apos;re a little scared to say this but OK, here we go: You a total, 100% psychopath! You are not a very social person, you prefer being alone in your apartment, doing your own thing, with no intervention from the outside world. You are not a very empathic person, but you don&apos;t see that as a problem, you see that as an advantage! Our advice to you is to try to be more social (without kidnapping anyone), and see how you feel. You might like it!</string>
					<key>title</key>
					<string>100% psychopath!</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You&apos;re a bit of a psycho :)Sometimes you are a little distant from other people. You are no stranger to difficult times and a little depression, but overall, you are fairly friendly, outgoing and enjoy the company of others. You don&apos;t like to be on your own too much, you are very empathic, and you do feel bad when you see someone in need (heck, you might even help others from time to time!)Don&apos;t worry about your potential to become a psychopath, as long as you keep yourself surrounded with good people and a healthy lifestyle, you will be fine!</string>
					<key>title</key>
					<string>60% psychopath!</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You passed the psychopath test! You are a smart, assertive and dedicated person, but you are NOT a psychopath! You like to speak with other people, work, travel and learn. You don&apos;t feel caged in your daily life, and you are always there for others.</string>
					<key>title</key>
					<string>You&apos;re not really a psychopath</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>1</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>The eagle is a natural scavenger watching you closely from a birds eye view. You&apos;ve gained this gift from helping an innocent being through tough times.</string>
					<key>title</key>
					<string>Eagle</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>The fox is a cunning agile master of deception, watching from a close distance. You&apos;ve gained this gift by putting yourself in harms way to protect another.</string>
					<key>title</key>
					<string>Fox</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>The wolf is a born hunter, following you, never letting you leave their sight. You&apos;ve gained this gift from conquering something difficult.</string>
					<key>title</key>
					<string>Wolf</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>2</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>You&apos;re very smooth; it may take you time to bond with someone, but once you do, you have something special.</string>
					<key>title</key>
					<string>Siamese</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are normally calm and laid- back, but you can be quite bubbly at times.</string>
					<key>title</key>
					<string>Ragdoll</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are kind and friendly, and sometimes all you want is a cuddle!</string>
					<key>title</key>
					<string>Tabby</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You pride your appearance and spend a lot of time getting ready in the mornings! You are also quite proud of yourself and your family.</string>
					<key>title</key>
					<string>Bengal</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>3</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>You have reached a humble age where you understand the world we live in and your innocence has been tainted by reality. You are a trooper and your soul is still pure but it is also real. No-one will take you for a fool and you know exactly how to handle any situation as you have seen and done it all.</string>
					<key>title</key>
					<string>Smokey Soul</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are a pure human being and believe in doing the right thing in the right situation. You understand when things are better left unsaid and understand that pure innocence doesn&apos;t really exist in this world so you prefer to use your innocence when it is needed the most.</string>
					<key>title</key>
					<string>Pretty Puritan</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You couldn&apos;t be anymore transparent if you tried. You are the purest soul in the world and it actually hurts you to lie or keep a secret. Your morals are so strong that your innocence is one of a kind in this day and age. You like to stick to your strong morals and this is what makes your soul shiny and bright like a pure white light.</string>
					<key>title</key>
					<string>Purest Soul</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>4</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>Maybe you play one or two- maybe three- sports, but you don&apos;t hate the color pink. You&apos;re fine with a little dirt, but you don&apos;t love the idea. You will wear a dress on special occasions because you know it&apos;s fun to dress up every once and a while. You don&apos;t take ten million hours each morning on your hair, but you don&apos;t wear a ponytail everyday. You&apos;re not a tomboy, yet you&apos;re not a girly girl. You&apos;re in the middle.</string>
					<key>title</key>
					<string>Neither</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You like sports, you play as many as possible and gym is your favorite subject. You like to get down and dirty. You go with the flow and love everyone. And the two things you hate in life are poufy dresses and the color pink.</string>
					<key>title</key>
					<string>Tomboy</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You love colors like pink and pastels, you don&apos;t play many sports, you love wearing skirts and dresses, and you hate bugs and getting dirty. Face it, you&apos;re a girly girl! And plus, you can&apos;t live without your iPhone and Starbucks.</string>
					<key>title</key>
					<string>Girly Girl</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>5</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>Winter best describes your soul! You are a thoughtful, intuitive person who treasures time with loved ones over everything else in life.</string>
					<key>title</key>
					<string>Your soul is Winter</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>Fall best describes your soul! You&apos;re at your happiest surrounded by the beauty of nature and are open to the changes life brings.</string>
					<key>title</key>
					<string>Your soul is Fall</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>Summer best describes your soul! You are an outgoing, brave individual who is always looking for the next adventure.</string>
					<key>title</key>
					<string>Your soul is Summer</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>6</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>You are loyal and brave.  You enjoy making up things like stories and games.  You are very eco-friendly and you hate it when people litter and pollute.</string>
					<key>title</key>
					<string>Emerald Dragon</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are fun-loving and kind. You enjoy listening to music and reading hanging out with friends. You are very friendly and you hate it when people don&apos;t like you.</string>
					<key>title</key>
					<string>Pink Dolphin</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are smart and sensible.  You enjoy learning and reading books.  You are very intelligent and you hate it when you do something wrong.</string>
					<key>title</key>
					<string>Purple Owl</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>7</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>You will die alone, so best to carry a good book to avoid boredom on the way to heaven.</string>
					<key>title</key>
					<string>You will die alone.</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You will die with a Goldfish, because your death will be drowning inside a tub.</string>
					<key>title</key>
					<string>You will die with a Goldfish.</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You can select who to die with. Grim Reaper loves you so much to have let you die with someone your choice.</string>
					<key>title</key>
					<string>You can select who to die with.</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>8</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>You are definitely attractive! You have a lovely, warm personality that everyone is attracted to you and you are also easy on the eyes. People enjoy your company and you always bring joy and happiness wherever you go.</string>
					<key>title</key>
					<string>You are definitely attractive!</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are somewhat attractive! While you are nice and kind, you can sometimes be a bit quiet and introverted, so people don’t enjoy spending time with you as much as they could be! Try to open yourself up a bit more and don’t be afraid to pamper yourself and try out new styles that will make your personality shine!</string>
					<key>title</key>
					<string>You are somewhat attractive!</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You need to take care of yourself more and take care of your body and health. You have a great personality, but it hardly comes out because of your low self-esteem and lack of self-confidence. Spend time with people you like and find hobbies you enjoy in order to raise your confidence, and soon people will start loving you more and more!</string>
					<key>title</key>
					<string>You are a little bit attractive!</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>9</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>You got a great personality! All your friends love you and if anything happens to them, you are right there to defend them! Keep it up!</string>
					<key>title</key>
					<string>You are really fun to be around!</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>But you are a great person. You are funny and people love to hear and be around you. But you tend to get a little moody at times. But you are still a great person.</string>
					<key>title</key>
					<string> You are not the big cheese.</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You have friends, and you are kind, but you tend to be a little too quiet. You should break out and be that social butterfly that is waiting to break free! but remember be who you are too!</string>
					<key>title</key>
					<string>Your personality is well.</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are somehow not much of a people person. You tend to be quiet and not care at all. You don’t find things funny very much, and you try to act fake.</string>
					<key>title</key>
					<string>You personality is a 0!</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>10</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>Your parents never stopped loving you!</string>
					<key>title</key>
					<string>Result</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>Your parents don’t like you that much.</string>
					<key>title</key>
					<string>Result</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>Your parents love you but they don’t know the right way.</string>
					<key>title</key>
					<string>Result</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>11</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>When was the last time you had fun with your boyfriend? Consider saving the relationship if you are still able to enjoy each others&apos; company. But if the relationship feels stale and neither one of you wants to make an effort to liven things up, re-examine the reasons you want to stick around. Try doing something different than the usual boring dinner dates. Maybe go bowling? Catch a baseball game? Or go get wasted at a nightclub!</string>
					<key>title</key>
					<string>It can be saved! Just add excitement.</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>There seems to be a lack of communication between you two. Both of you need to sit down and air everything out! Don&apos;t leave any stone unturned. A good &quot;airing out&quot; session will let you understand each other&apos;s issues and then you can both can come up with solutions to resolve them.</string>
					<key>title</key>
					<string> It can be saved! Just communicate more often!</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>By the looks of it, you’re relationship is heading straight towards a dead-end. You can try to communicate more and try doing other things, but it seems like that initial spark isn&apos;t there anymore. He may have changed and wants someone different.  Or it might be that has changed and you don&apos;t even know it! Whatever it is, your relationship is unlikely to be salvaged. Move on to someone better!</string>
					<key>title</key>
					<string>Your relationship seems unlikely to be saved.</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>12</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>Fox Wow! You are a fox. You must have nice red fur. But some people hunt you down to make you into a coat. How sad.</string>
					<key>title</key>
					<string>Fox</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are a cat. You scratch people if they get in your way. Sometimes you can get a little bossy.</string>
					<key>title</key>
					<string>Cat</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are a rabbit. You&apos;re cuddly, cute, but not the bravest around.</string>
					<key>title</key>
					<string>Rabbit</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are a raccoon!! You like to eat from the trashcan. And if you get bullied, you will bite someone to defend yourself.</string>
					<key>title</key>
					<string>Raccoon</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>13</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>Sorry, it seems like this guy doesn&apos;t have any type of crush on you. He&apos;s too busy with his current girlfriend or asking cheerleaders to prom! Let this one go, and find someone who you deserve.</string>
					<key>title</key>
					<string>He doesn&apos;t see you in that way.</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>This guy definitely has a secret crush on you. But beware, he probably has a crush on a few other girls too!</string>
					<key>title</key>
					<string>He likes you!</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>Yellow Fox</string>
					<key>title</key>
					<string>Yellow Fox</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>Purple Owl</string>
					<key>title</key>
					<string>Purple Owl</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>14</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>You should be a Dental Hygienist! You are gentle, cheerful, spontaneous, and friendly. You have a warm personality, and you are tolerant and nonjudgmental, so patients will feel comfortable and safe in your hands. You are also loyal and modest, making your warmth and kindness more comforting.</string>
					<key>title</key>
					<string>Dental Hygienist</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You should be a Photographer! You are innovative, curious, clever, open-minded, and unconventional. You are super creative and you always look at things from a unique angle. You are quick-witted and you have a fun personality.</string>
					<key>title</key>
					<string>Photographer</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You should be an Animator! You are imaginative, idealistic, compassionate, and caring. You are sensitive and individualistic, so you often prefer to do things on your own. You are also artistic, original, and nonjudgmental, making you a generally open-minded person.</string>
					<key>title</key>
					<string>Animator</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You should be a Police Officer! You are hardworking, rule-abiding, systematic, and organized. You have quite predictable behavior you strictly adhere to rules and routines, and you also follow the facts.</string>
					<key>title</key>
					<string>Police Officer</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>15</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>Congrats! In fact....why did you even take this test? You are the greatest friends ever! Close as brothers/sisters! Remember, consider your other friends too! You don&apos;t want them getting jealous!</string>
					<key>title</key>
					<string>Best Friends for Life!</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are really good friends, but it may not last forever. However, what you have now is brilliant, and I hope it is long lived!</string>
					<key>title</key>
					<string>Best Friends.....not forever?</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You two are good friends, but you cannot call yourselves the best quite yet...</string>
					<key>title</key>
					<string>Friends, but not the best...</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You two don&apos;t really look like the greatest friends out there, but give this friendship some work, and a bit of patience, and hopefully you&apos;ll improve!</string>
					<key>title</key>
					<string>Uh.....friends? Not much.</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>16</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>You are a natural carer. When you see hurt or pain you are immediately there for your friends in whatever way that they need. You don&apos;t even mind if you don&apos;t get it back from them you take pride in knowing that you are helping people through their time of need and you feel very fulfilled doing that. Psychology is the route for you to consider as you are setting yourself up for a career of providing help to everyone who comes to you for it.</string>
					<key>title</key>
					<string>Psychology</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>This is such a wide field of options in front of you - chemistry, physics, and biology. The field of science is really a blank canvas where you can take your own paths to solve a problem. This is a field that constantly wants change and new approaches around every corner. Yes you can go about solving a problem the way its worked before- but thinking out of the box is not only encouraged but desired.</string>
					<key>title</key>
					<string>Science</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are a process thinker, methodical. You prefer to think about a problem and everything that surrounds it before even thinking about approaching it. Engineering is a limitless field with options around every corner from bridge building to cell phone making. Engineering appeals to those who like puzzles and processes- and if this is you, this could be a career that you fall in love with.</string>
					<key>title</key>
					<string>Engineering</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>17</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>You are cute and bubbly. Everyone likes you. You have brown hair and pretty brown eyes. Sometimes you can be scandalous but it doesn&apos;t matter you can get away with most things if you bat your eyes.</string>
					<key>title</key>
					<string>Miley Cyrus</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You have black hair and you are adorable. You are perfect in every way and everyone young and old loves you.</string>
					<key>title</key>
					<string>Selena Gomez</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>Everyone loves you and looks up to you. You have pretty blond hair with beautiful blue eyes. You like singing and you are good at it too. you have blonde hair and blue eyes.</string>
					<key>title</key>
					<string>Taylor Swift</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You are fun and outgoing. You don&apos;t care what other people thinks you will wear some pretty weird outfits, but thats what people like about u. You have brown hair and brown eyes.</string>
					<key>title</key>
					<string>Demi Lovato</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>18</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>You have a wild heart that belongs by the beach and the mountains all at the same time. So what does someone like you settle on- Argentina. This country was made for you. Everything you could possibly want is here for you to discover and explore. This is a rich country with wildlife from coast to coast and a bountiful landscape that offers new adventures at every stop- get there quick.</string>
					<key>title</key>
					<string>Argentina</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>You were meant for a life slow paced leisure and luxury. Italy is a place that is happy to welcome you with open arms. A country that is equipped with one of the most beautiful set of landscapes you could imagine- you have endless opportunities to explore the unknown and eat your way through an amazing country. Contained within this country you are able to experience fashion, history and leisure- you&apos;ve got it made.</string>
					<key>title</key>
					<string>Italy</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>A country that never settles for - settling. Even though it is steeped in rich history and ancient ruins that could keep you busy for ages- it continues to keep on the forefront of development and technology, with a capitol that is in the forefront of the world. Living in Japan puts you in the middle of innovation and culture. This is a place where you will never ever get bored.</string>
					<key>title</key>
					<string>Japan</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>Okay, so a lot of people give Canada a hard knock- but what a truly beautiful country this is with everything contained in it to see and do. You have lush cities with all the style and edge of the world’s fashion scene. A short distance from there you can relax by the lake or up in a ski lodge. Canada is a place that respects your me time and your need to explore.</string>
					<key>title</key>
					<string>Canada</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>19</string>
	</dict>
	<dict>
		<key>result</key>
		<array>
			<array>
				<dict>
					<key>content</key>
					<string>It&apos;s awesome because you are really doing great and its a kind of art that takes a long time and more attention, not all can do what you are doing!</string>
					<key>title</key>
					<string>Awesome</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>Yes It is unbelievable how you made things and finish it.. its very amazing and wonderful i know everyone will love it.</string>
					<key>title</key>
					<string>Unbelievable</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>Because, this kind of art work is made from your feelings, or should I say emotion, its express what do you exactly feel and its very meaningful, its explains a bit things and happenings in our life.</string>
					<key>title</key>
					<string>Expressive</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>content</key>
					<string>Simply its very unique for sure, because it is your own ideas, own art, and very different from other&apos;s surely.</string>
					<key>title</key>
					<string>Unique</string>
				</dict>
			</array>
		</array>
		<key>testId</key>
		<string>20</string>
	</dict>
</array>
</plist>
