<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Finger</string>
		<key>content</key>
		<string>A person with flat, thin, uneven and flexible thumbs always has the personality opposite to the one with thick and solid thumbs. Those people do not like the methodical rather than quick and convenient life; they are impatient and often seek for enjoyment.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Finger</string>
		<key>content</key>
		<string>The longer thumbs indicate the relatively smooth fortune, fast progress, academic excellence and strong body in youth with more love and care from the eldership. Those who have longer thumbs are more confident in career, more initiative in love and always desire for high-quality love and life.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Finger</string>
		<key>content</key>
		<string>Those who have shorter thumbs need to rely on their own efforts in youth; they are practical and down-to-earth in career and they often build up from nothing instead of showing off their wealth.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Finger</string>
		<key>content</key>
		<string>In palmistry, the index finger usually indicates a person&apos;s desire for domination, power and enterprise. Those with longer index fingers are always indomitable, aggressive and ambitious and it is easier for them to be in authority. If the index finger is as long as the middle finger, it is an indication that the person is tough, pushing and ostentatious. People of this type tend to earn more and also spend too much, so it is difficult for them to save money. Therefore, they need to control their squander, desire and consumption habit.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Finger</string>
		<key>content</key>
		<string>In palmistry, the index finger usually indicates a person&apos;s desire for domination, power and enterprise. Those with longer index fingers are always indomitable, aggressive and ambitious and it is easier for them to be in authority. If the index finger is as long as the middle finger, it is an indication that the person is tough, pushing and ostentatious. People of this type tend to earn more and also spend too much, so it is difficult for them to save money. Therefore, they need to control their squander, desire and consumption habit.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Finger</string>
		<key>content</key>
		<string>As the longest in the four fingers, the middle finger is a sign of a person&apos;s destiny; the rounder, straighter and longer, the better. It is since this kind of middle finger suggests the good destiny and the favorable result in career, wealth and marriage. If the middle finger is too short, oblique and leans to the index finger, it indicates that the person is persistent in work; if the middle finger leans to the ring finger, it indicates that the person is obsessed in family; if the middle finger is unevenly thick, it suggests that the person is impatient and impulsive. People of this type need to get their emotions under good control, otherwise it&apos;s easy for them to do things which are too late to regret.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Finger</string>
		<key>content</key>
		<string>The ring finger stands for lover and family ties. If the ring finger leans to the middle finger, it indicates that the person is very responsible to the family and pays a lot to the family; it the ring finger leans to the little finger, it suggests that the person pays a lot to the children.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Finger</string>
		<key>content</key>
		<string>The little finger stands for children and younger generation. If the little finger is extremely short and bent, it is a sign of weak children and the person has to worry about the children instead of being proud of them</string>
	</dict>
</array>
</plist>
