<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Head</string>
		<key>content</key>
		<string>People of metal hands are practical, not affected by vanity, strong-willed and law-abiding. They are capable and talented in leadership, have the sense of fairness and justice, like to protect rather than bully the weak. Once they are helped, they will pay back. Also, they are unwilling to let down or take advantage of others, and tend to yield to the weak but not to the strong. People of this hand type have the courage to break through the unfavorable situation, withstand the pressure and change the environment to control their own destiny. Sometimes, they are so active that people around feel the great pressure.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Head</string>
		<key>content</key>
		<string>People of wood hands are stubborn and independent and prefer getting promoted to being stifled. With no complex of dependency but exclusiveness, they often keep mysterious to others, hate cliquism, get used to the fixed life pattern and can hardly adapt to the changing environment. They know their own mind clearly and are brave to be and express themselves. Meanwhile, they can undertake the due obligations and take care of the weak. Being soft-hearted and sympathetic, they are often touched easily. Besides, they are very curious, usually get to the bottom of things and show their extraordinary talent in religion, art, philosophy, psychology, etc.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Head</string>
		<key>content</key>
		<string>People of water hands are smart and talented fast learners who have keen observation and like to explore the truth behind things. They are clear-minded and boast the unique judgment and analytical ability. Despite the rich imagination, they lack of execution and action and often indulge in empty talk. Also, they can adapt to the surrounding environment in different roles and change the environment no matter how severe it is.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Head</string>
		<key>content</key>
		<string>People of fire hands are quick thinkers with 3-minute passion. They are emotional and clear about what to love or hate; they are willing to sacrifice for the one they love but don&apos;t want to have any contact with the one they hate. As smart fast learners, they are interested in many things and can speak frankly with assurance but lack of perseverance.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Head</string>
		<key>content</key>
		<string>People of earth hands are willing to sacrifice themselves to protect others. They are resigned to the situation and can accept others, belonging to the wise rather than the smarty. They are easy-going yet a little dull, and have many valuable opinions but never declare randomly. Since they don&apos;t like to claim credit, their contributions are often ignored. Once they leave the original post, their important role will be realized. With a strong sense of self-protection, they make it hard for others to approach to their inner world. Also, they never give up easily for the things they hold on, thus a little stubborn.</string>
	</dict>
</array>
</plist>
