<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Line</string>
		<key>content</key>
		<string>If other lines of your palm are clear and only the life line is absent, it&apos;s not a good sign. It indicates a poor health and a short life. You are easy to get sick or have accidents during the whole life. f there is an upward branch above the life line, it shows you are diligent, optimistic, positive and have a strong thirst for knowledge. You could get a fame and prestige during the life</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Line</string>
		<key>content</key>
		<string>A long, deep, tender and rosy life line stands for that you are highly resistant to disease. On the contrary, the short life line shows you are susceptible to illness. If there are many upward branches, it shows you are ambitious and have lofty ideals. But too many such lines show you are a dreamer and end up nowhere because you couldn’t keep feet on the ground.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Line</string>
		<key>content</key>
		<string>A thick and clear life line indicates that you are suited to a life of physical labor and are good at sports. Conversely, a shallow and vague line shows that you are good at using mind. If there are many downward branches at the end of life line, it indicates your physical condition is declining. Also, you may always feel tired and lonely.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Line</string>
		<key>content</key>
		<string>A swooping semicircular life line around the base of the thumb shows that you are full of vigor and energy. On the contrary, if the line is cramped that sticks close to the thumb straightly, it predicts that you have limited energy and are easy to get tired. If there are diagonals crossing the end of life line, it means you will be suffered from disease during the later year</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Line</string>
		<key>content</key>
		<string>If you have a secondary line running parallel with the life line, it shows you have a very strong vitality. Especially, you have a strong resistance to disease and self recovery ability after illness. A clear branch downward split from the middle part of life line means you are easy to separate with your families and live apart.</string>
	</dict>
</array>
</plist>
