<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>You don&apos;t need to bat your eyelashes or drop your handkerchief -- you&apos;re a couple of centuries beyond that! Your technique for charming favors out of people are much subtler (and more effective), anyway. You&apos;ve got personality to spare -- so much, in fact, that too much can be, well, too much. Of course, it doesn&apos;t hurt you that your way with words benefits others as well as yourself, so don&apos;t lay it on. It should get you exactly where you need to go.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Something heats up your day in a surprising, but pleasurable way. You get the day off unexpectedly, or maybe your partner brings you exactly the right coffee without asking. You could just decide that life is way too short and that you&apos;re going to spend it doing just what you desire most. It could even be that all of this happens -- never say never!</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Shine your light on someone important to you today. You&apos;ve got quite a bit going on, so the quiet types might get lost in the roar. Let them know how important they are to you, and clear some room in your busy schedule to hang with them. It doesn&apos;t have to be hours and hours, though -- a quick catch-up conversation in which you discuss their lives while making plans for later makes a world of difference.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>It&apos;s tough to walk that fine balance between love and work, love and your social life, love and -- well, you get the picture. If an emotional gale is threatening to tip your own personal SS Romance on its side, try and defuse those forces before it builds into the perfect storm. After all, it&apos;s ever so much nicer -- and much smoother sailing -- when you and your partner are in sync about what is and isn&apos;t important in your lives.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>You love being part of a big, important plan, especially when you get to lay it all out and lead the way. Right now, as all your plans involve having shocking amounts of fun, you&apos;re completely in your element. Ring up your people and let them know what&apos;s coming. Make sure they all know their parts and how you want them played, then put on your party hat and go to town!</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Now is the time to get together with a pal, especially one that you&apos;ve been feuding with lately. Your energy brings your warmth to the table in a big way, so communication is sure to be lighthearted, wacky and free-spirited. You could even discuss those deeper issues just to shed a bit of light on them. It is okay to simply enjoy the sweet vibe that&apos;s flowing now, though.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Great opportunities and fortunate events are all lined up for you, just waiting for your grand entrance. Now is the best time to put your big, personal plans in motion -- or address shake-ups and reorgs you want to see happen in the workplace. Make sure you make the most of all this good luck by accepting all invitations. You have to play if you want to win!</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>You need to ask yourself some deep questions -- there may be unresolved issues you can only deal with on your own right now. Your unique P.O.V. and high-powered intuition have all the answers you need -- if only you can hear them out. Try some quiet meditation and reconnect with the larger power that&apos;s lurking within you, waiting for your plea. When you settle down and listen to that inner voice, much can be answered.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>What makes your heart pound? What sparks unlimited enthusiasm in you? Whether you&apos;re exploring a secluded beach in Mexico or networking with dozens of new people, make sure you get some excitement today. Your spirit is irrepressible -- and very nearly irresistible as well! Get out of the house, talk to everyone you meet and make some solid connections.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Sometimes you just push as hard as you can, but the social result you were hoping for doesn&apos;t click in the right way. Don&apos;t beat yourself up over this -- in fact, try viewing it as an opportunity. More importantly, don&apos;t force the situation to take on the qualities you think it needs, as that rarely works out the way you want. Just chill out and go with the situation.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>You may have been thinking that you&apos;d lost touch lately, or that you don&apos;t have all that much in common with that one friend -- or even that it was time to break up! Hang on for a while, though, as that old chum might surprise you by saying or doing the one thing that can prove there are plenty of miles left along your journey. Your energy is all about communicating and connecting when you&apos;d least expect it.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>It&apos;s not nearly as important to choose the best path as it is to pick a path -- any path. It&apos;s vital to make solid decisions that take the positive and negative into account, but if you hesitate much, it all changes -- or the decision ends up getting made for you! Just take a breath and then face the direction that feels best to you. Looking back years from now, you&apos;ll be glad you did!</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>It&apos;s too easy to blame ambiguities at work on other people&apos;s unwillingness to take a stand, but what about you? Take responsibility for your own decisions -- or lack thereof -- before you find fault with your colleagues, supervisors or customers. Be courageous and ask questions that demand clear answers. You certainly don&apos;t need to please everyone all the time -- not only is it basically impossible, it&apos;s exhausting as well.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Try not to take that loved one&apos;s criticisms too personally -- see if you can ignore the words and look only at actions, which should be much more encouraging. Take a look at the long haul and be patient with them. If you can ride out this rough patch, you should be set in for smooth sailing for a good long time. If ill-conceived statements keep coming your way even after this is all over, you need to have a heart-to-heart and let them know how much it bothers you.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Get off the fence and be clear when communicating with a group. You&apos;ve been trying too hard for too long to be everything to everybody, and it&apos;s making you crazy -- and not winning you the fans you hoped it would. (Not only that, you&apos;re not feeling too hot about yourself lately, either.) You have only your self-respect to gain by speaking up for what you believe in -- and any losses you might incur, well, the universe promises that it will ultimately be your gain.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>A loved one might be grumpier than usual and determined to pick a fight. Don&apos;t let yourself be bullied. Just because they&apos;re in a bad mood doesn&apos;t mean you should have to suffer. Tell them kindly but firmly that they need to deal with their emotions in an appropriate manner. It&apos;s time to hold people accountable for their behavior. If you keep getting walked all over, now is the moment to get up and stand up for your rights.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>A special opportunity comes along that gives you independence and creative freedom. This opening may not be crystal clear so keep your eyes and ears open in all directions (even the most unlikely). After all, you don&apos;t want to miss your main chance due to closed-mindedness, do you? Some skills of yours will really come into play when it comes to identifying your chances. Look to your wizardry with words and images to reach your goal.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Your magnetism has been slowly but surely heating up, and right now, it&apos;s about to come to a full boil. Few can resist your sultry self even at your lowest ebb, but at a time like this when your charisma is practically off the charts, you can talk the birds down from the trees. Now the only question is where to aim all this dazzling charm. Be generous and share it with everyone who crosses your path.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>The word &apos;confidence&apos; comes close to describing you right now, but it&apos;s not enough. You&apos;re so self-assured that people just assume you&apos;ve got most of the answers and defer to you in nearly all matters. It&apos;s a lucky thing that you&apos;ve got the goods to back up the attitude. The stars help you shed the last traces of hesitation and take a leap of faith. Your willingness to lay it on the line and leap into a make-or-break decision will reward you handsomely.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Love may just reveal itself when you least expect it, but you have to stop searching for it so frantically first. Instead, think about what it is that you enjoy doing, the people you like having around and what kind of goals you want. You may end up becoming so absorbed in having a life that you forget all about love. Of course, this is exactly what the stars are waiting for when they hit you with a whammy of something deliciously romantic.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>There&apos;s nothing quite so satisfying as a job well done. Remind yourself of that if your enthusiasm starts to wane in the face of what seems like a mountain of details all clamoring for your attention. Why not hand some of those tasks over to a trustworthy associate? Tell them the results you need and the timeline you&apos;re on. Just remember that once you do, it&apos;s strictly hands-off. Really, you&apos;re in good hands, so go ahead and relax.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>You&apos;re movin&apos; on up when it comes to the career ladder, and it couldn&apos;t be more timely. Keep in mind, however, that &apos;moving up&apos; doesn&apos;t necessarily mean the corner office and a raise (although those things are likely in store). It could also mean more time off, a change to a different office, fewer working hour or being able to work from home, all of which add up to a much higher quality of life. In the end, that&apos;s what truly counts.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Reevaluating your goals right now is a great idea, especially since the astrological influences favor contemplation and gift your already keen eye with even more perceptiveness when it comes to looking at the details. When you turn your attention inward and put your life under the microscope, you may not necessarily like everything you see. The good news is, anything you don&apos;t like is well within your power to change.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Doubts can be so nasty -- and nastily persistent, especially when you want to close your eyes and ears and remain firmly ensconced in your fantasy of how everything should work out. Sometimes, however, those nagging thoughts serve a purpose, especially when it comes to financial matters. Stay cautious and thoroughly research the credentials of any potential investors or partners, or you could be misled by their smooth ways and crafty talk.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>The key to long-term achievement is keeping everything on the down low when a certain boss type is going mad with power. While it may be tempting to point out areas in which they could, er, improve things in the workplace (or their own attitude), they won&apos;t take kindly to any suggestions right now, no matter how well-meant. Save any constructive criticism for later, when they&apos;re more in the mood to deal with it.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>It&apos;s vitally important that you believe in yourself in order to achieve success, especially during times like these. Why now? Because you may be surrounded by those who adore wallowing in negativity or whose &apos;objective&apos; opinions are actually colored by their own agendas. The stars are drafting a blueprint for your future, and paying attention is of paramount importance, especially when it comes to the details.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>It&apos;s extremely frustrating when you feel like major decisions are in other people&apos;s hands, but what you may not realize is that this actually works in your favor right now. If those offers involve unfamiliar terms or tempting extras, you&apos;re better off having steadier heads working for you in strange territory. Go ahead and discuss your needs with your representatives frankly, have some faith and wait to see what they come back with.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Someone you care about may be acting a little distant, but it&apos;s not you -- it&apos;s them, so don&apos;t take their mood to heart. It&apos;s doubly important that you don&apos;t let their funk put a damper on your high spirits. Motivate yourself to take charge and stir up some action, whether it&apos;s renovating your love life or your home. Perhaps it&apos;s even time to take a look at some ways to climb up the career ladder. Don&apos;t hesitate to dive right in.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>It&apos;s about time to get to know yourself, don&apos;t you think? This is especially true if you find your friends and family with definite opinions about what you should do with your life, romantic situation, etc. Ignore the mixed signals that are coming your way and sit down and think about what it is you want to do, rather than what you feel you should do. A little extra research will be especially useful when it comes to professional conundrums.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>As far as you&apos;re concerned, freedom and privacy are pretty much the same thing -- and absolutely necessary for your peace of mind. Put off returning phone calls and emails or following up on social obligations; not only will these tasks make you cranky, but you also won&apos;t be able to devote your full attention to them. Right now, you want to make the boundaries of your personal territory very clear -- and woe to anyone who enters without an invitation.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Pack up your troubles in your old kit bag and smile, smile, smile. In other words, your luck is about to take a spectacular turn for the better, and you can happily put away any lingering problems that have been on your mind for far too long. Before you pack everything in mental bubble wrap and put it away forever, make sure you examine each of these past conundrums and remember the lessons they taught you -- you don&apos;t want to have to learn them again!</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>As far as you&apos;re concerned, freedom and privacy are pretty much the same thing -- and absolutely necessary for your peace of mind. Put off returning phone calls and emails or following up on social obligations; not only will these tasks make you cranky, but you also won&apos;t be able to devote your full attention to them. Right now, you want to make the boundaries of your personal territory very clear -- and woe to anyone who enters without an invitation.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Sitting there in limbo? That&apos;s absolutely normal, so stop pressuring yourself and take a break instead. It&apos;s an excellent time to take off on a vacation, even if that means sitting in the park and listening to music while you watch the sunset. (Hey, every little bit counts!) Go ahead and let your mind roam far afield before you try and collect your thoughts. By the evening, you&apos;ll feel revived and ready for action.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Life is far from ordinary for you right now. The stars stir up your world and bring lots of unusual and unpredictable influences into your daily routine. This affects everything you do, think or say, so don&apos;t be taken aback if you hear the most surprising things coming out of your mouth. The best thing to do in a situation like this is going with the flow -- and enjoy the motion while you&apos;re at it. You might just learn a (life-changing) thing or two along the way.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Your passions heat up deliciously and just in time to revive a cool period. However, along with those heightened emotions comes a hair-trigger temper. Remember to keep the heat where it belongs -- raising the temperature of your relationship -- and don&apos;t let it rage out of control or leak over into areas where it&apos;ll cause a lot of easily avoidable havoc. Try to keep your jealousy in check, and it will keep your love from flaming out.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Push rewind on your life and you might just see a few partners or opportunities that you had overlooked. Fortunately, these possibilities still remain -- it&apos;s just a question of seeking them out. Timing is everything when it comes to reigniting sparks from the past, so make good use of your abundant sensitivity when it comes to feeling someone out about an offer they made you long ago. Keep your common sense and don&apos;t get lost in flights of fancy, though.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Resolutions aren&apos;t just for New Year&apos;s, you know. Right now, the stars want you to be strong and work toward finding ways to close the books on some lingering patterns that have been with you for far too long, especially in the realm of personal relationships. Why do certain things keep occurring? Why do you always attract a certain type of person? It&apos;s a good time to get answers to these kinds of questions, so start asking.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Your imagination is one of your richest assets, but it&apos;s important that you don&apos;t let it spiral out of control, especially when it comes to romantic matters. It&apos;s pretty easy to get so caught up in the fantasy that you convince yourself it&apos;s real. Take some deep breaths and ground yourself in reality before you make any decisions or commit yourself to something that might have many more layers to it than you originally assumed.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Isn&apos;t it time you, well, grew up? You can pay your bills, buy a house and hold down a job, and still, that&apos;s not really the mark of a truly mature person -- those are just the accessories that we think signify adulthood. The stars are telling you that it&apos;s time to take responsibility for your actions and be accountable for the consequences that follow. Once you start paying attention to this, it&apos;s amazing how your life can really straighten up and fly right.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Your colleagues adore you, and it&apos;s no wonder -- you work extremely hard and don&apos;t think twice about pitching in when someone else needs a hand. Your office practically feels like a second home and your coworkers like a second family. However, it&apos;s still a good idea to remain wary if someone new keeps offering help when you least need it. They may not be as innocent as they seem, so play your cards close to your chest.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Lately, you&apos;ve really come into your own, but this process, while rewarding, can also be challenging. There are people or situations that you&apos;d like to take for granted or regard as secure, but these foundations have to change in order to allow real growth. Keep yourself pointed in the right direction through all these changes, and you&apos;ll see the kind of self-fulfillment that you&apos;ve only dreamed about start to emerge.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>The situation is stellar right now, thanks to your own efforts and those of your lucky stars: Work is gratifying, your wallet is full and you&apos;re in love (or about to fall). However, the one surefire way to tempt fate is to take things for granted, or to let your ego get out of control (yes, your hard work and efforts had a lot to do with this -- but not everything). Remember to be humble and remain diligent so you&apos;ll stay ahead of the game.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Nix any wallflower tendencies right now, no matter what. You may not be totally at ease in the spotlight, but the spotlight sure loves you, especially during a moment like this. You&apos;ve been working behind the scenes for far too long, and it&apos;s time to step out on center stage and take your bows. You don&apos;t have to stay there long -- just give the people who love you a chance to acknowledge how fantastic you are, okay?</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Pinning your hopes on one prospect? Be careful, or the glitter might wear off, especially the more you burden it with your aspirations. Take a look at its real worth before you consider abandoning it. Dig deep within yourself and feel confident that you&apos;re someone of considerable determination and ingenuity, and you can finesse this opportunity into something invaluable. It could take a little while, so be patient, but it will pay off.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Don&apos;t get too ambitious with those plans, or they could unravel at a crucial juncture. If you take it one step at a time and focus on the task immediately in front of you, the big picture will take shape soon enough. Relationships improve when you apply this attitude to them as well, and you&apos;re able to make smart decisions by staying firmly rooted in the here and now. Who knew by giving yourself the present, you&apos;d give yourself a future as well?</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>An extraordinary alliance with a work mentor or office buddy will help you break free of a limiting role on the job, and you&apos;ve never been more grateful to be given the opportunity to spread your wings and fly. While you&apos;re overcome with gratitude, remember that it was your willingness to speak up and take a chance that got the ball rolling. The lesson? Go ahead and dare to be different. It sure beats the alternative.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Take the direction you know is best for you, and leave all self-destructive paths behind. In fact, go ahead and erect barriers and &apos;No Trespassing&apos; signs, if that helps remind you not to tread ways that ultimately proved to be unhealthy for you. Some might accuse you of being &apos;too good&apos; for your old friends or old ways, and they&apos;re right -- you&apos;re far too good to waste yourself on behaviors that wreck your potential. Your instincts are wiser than any outside influence.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Stepping forward into a brave new emotional world often entails some kind of upheaval, but what&apos;s the worst that could happen? You have so much to gain if you make a move, and plenty to lose if you stay mired in an increasingly stale situation. Ditch the stagnation and do everything you can to move forward. You&apos;ve grown too much and come too far to let a case of nerves stop you. Feel the fear and do it anyway.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>A certain troublesome person had disappeared from your life at work -- and good riddance. Or so you thought. They might rear their pesky little head, but don&apos;t worry -- their appearance will only be temporary. In fact, certain recent events might have so humbled this person that they might have become tolerable, even if not likeable. This is great because you won&apos;t have to bear a repeat of their old shenanigans.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Wincing at the thought of some less-than-stellar behavior on your part and feeling, oh, just a touch defensive? Brush off criticisms -- including your own -- and focus resolutely on the present and future. Flagellating yourself will only lead to a treacherous bog of low self-esteem. Instead, take a look at what you can change for the better, resolve to correct any inappropriate behavior and apologize when necessary. Now move on.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>If you haven&apos;t learned this romantic lesson yet, the stars are about to make you write it on the chalkboard 100 times now to drill it through your head. It&apos;s time to speak up for yourself in relationships and not sublimate your own needs. Aren&apos;t you tired of being &apos;nice&apos; and &apos;good&apos; to get someone to love you? Wouldn&apos;t you rather be your own honest, funny, intelligent self -- and be loved for that? How liberating! Uncomplicate a romance and level with your partner.</string>
	</dict>
</array>
</plist>
