<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>You don&apos;t need to bat your eyelashes or drop your handkerchief -- you&apos;re a couple of centuries beyond that! Your technique for charming favors out of people are much subtler (and more effective), anyway. You&apos;ve got personality to spare -- so much, in fact, that too much can be, well, too much. Of course, it doesn&apos;t hurt you that your way with words benefits others as well as yourself, so don&apos;t lay it on. It should get you exactly where you need to go.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Something heats up your day in a surprising, but pleasurable way. You get the day off unexpectedly, or maybe your partner brings you exactly the right coffee without asking. You could just decide that life is way too short and that you&apos;re going to spend it doing just what you desire most. It could even be that all of this happens -- never say never!</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Shine your light on someone important to you today. You&apos;ve got quite a bit going on, so the quiet types might get lost in the roar. Let them know how important they are to you, and clear some room in your busy schedule to hang with them. It doesn&apos;t have to be hours and hours, though -- a quick catch-up conversation in which you discuss their lives while making plans for later makes a world of difference.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>It&apos;s tough to walk that fine balance between love and work, love and your social life, love and -- well, you get the picture. If an emotional gale is threatening to tip your own personal SS Romance on its side, try and defuse those forces before it builds into the perfect storm. After all, it&apos;s ever so much nicer -- and much smoother sailing -- when you and your partner are in sync about what is and isn&apos;t important in your lives.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>You love being part of a big, important plan, especially when you get to lay it all out and lead the way. Right now, as all your plans involve having shocking amounts of fun, you&apos;re completely in your element. Ring up your people and let them know what&apos;s coming. Make sure they all know their parts and how you want them played, then put on your party hat and go to town!</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Now is the time to get together with a pal, especially one that you&apos;ve been feuding with lately. Your energy brings your warmth to the table in a big way, so communication is sure to be lighthearted, wacky and free-spirited. You could even discuss those deeper issues just to shed a bit of light on them. It is okay to simply enjoy the sweet vibe that&apos;s flowing now, though.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Great opportunities and fortunate events are all lined up for you, just waiting for your grand entrance. Now is the best time to put your big, personal plans in motion -- or address shake-ups and reorgs you want to see happen in the workplace. Make sure you make the most of all this good luck by accepting all invitations. You have to play if you want to win!</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>You need to ask yourself some deep questions -- there may be unresolved issues you can only deal with on your own right now. Your unique P.O.V. and high-powered intuition have all the answers you need -- if only you can hear them out. Try some quiet meditation and reconnect with the larger power that&apos;s lurking within you, waiting for your plea. When you settle down and listen to that inner voice, much can be answered.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>What makes your heart pound? What sparks unlimited enthusiasm in you? Whether you&apos;re exploring a secluded beach in Mexico or networking with dozens of new people, make sure you get some excitement today. Your spirit is irrepressible -- and very nearly irresistible as well! Get out of the house, talk to everyone you meet and make some solid connections.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Sometimes you just push as hard as you can, but the social result you were hoping for doesn&apos;t click in the right way. Don&apos;t beat yourself up over this -- in fact, try viewing it as an opportunity. More importantly, don&apos;t force the situation to take on the qualities you think it needs, as that rarely works out the way you want. Just chill out and go with the situation.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>You may have been thinking that you&apos;d lost touch lately, or that you don&apos;t have all that much in common with that one friend -- or even that it was time to break up! Hang on for a while, though, as that old chum might surprise you by saying or doing the one thing that can prove there are plenty of miles left along your journey. Your energy is all about communicating and connecting when you&apos;d least expect it.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>It&apos;s not nearly as important to choose the best path as it is to pick a path -- any path. It&apos;s vital to make solid decisions that take the positive and negative into account, but if you hesitate much, it all changes -- or the decision ends up getting made for you! Just take a breath and then face the direction that feels best to you. Looking back years from now, you&apos;ll be glad you did!</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>It&apos;s too easy to blame ambiguities at work on other people&apos;s unwillingness to take a stand, but what about you? Take responsibility for your own decisions -- or lack thereof -- before you find fault with your colleagues, supervisors or customers. Be courageous and ask questions that demand clear answers. You certainly don&apos;t need to please everyone all the time -- not only is it basically impossible, it&apos;s exhausting as well.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Result</string>
		<key>content</key>
		<string>Try not to take that loved one&apos;s criticisms too personally -- see if you can ignore the words and look only at actions, which should be much more encouraging. Take a look at the long haul and be patient with them. If you can ride out this rough patch, you should be set in for smooth sailing for a good long time. If ill-conceived statements keep coming your way even after this is all over, you need to have a heart-to-heart and let them know how much it bothers you.</string>
	</dict>
</array>
</plist>
