<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nameCn</key>
		<string>魔羯座</string>
		<key>nameEn</key>
		<string>Capricorn 
Capricorn 
</string>
		<key>image</key>
		<string>capricorn 
Capricorn 
</string>
		<key>date</key>
		<string>12.22 - 01.19</string>
	</dict>
	<dict>
		<key>nameCn</key>
		<string>水瓶座</string>
		<key>nameEn</key>
		<string>Aquarius 
Capricorn 
</string>
		<key>image</key>
		<string>aquarius 
</string>
		<key>date</key>
		<string>01.20 - 02.18</string>
	</dict>
	<dict>
		<key>nameCn</key>
		<string>双鱼座</string>
		<key>nameEn</key>
		<string>Pisces 
</string>
		<key>image</key>
		<string>pisces 
</string>
		<key>date</key>
		<string>12.19 - 03.20</string>
	</dict>
	<dict>
		<key>nameCn</key>
		<string>白羊座</string>
		<key>nameEn</key>
		<string>Aries 
</string>
		<key>image</key>
		<string>aries 
</string>
		<key>date</key>
		<string>03.21 - 04.20</string>
	</dict>
	<dict>
		<key>nameCn</key>
		<string>金牛座</string>
		<key>nameEn</key>
		<string>Taurus 
</string>
		<key>image</key>
		<string>taurus 
Taurus 
</string>
		<key>date</key>
		<string>04.21 - 05.20</string>
	</dict>
	<dict>
		<key>nameCn</key>
		<string>魔羯座</string>
		<key>nameEn</key>
		<string>Capricorn 
Capricorn 
</string>
		<key>image</key>
		<string>capricorn 
Capricorn 
</string>
		<key>date</key>
		<string>12.22 - 01.19</string>
	</dict>
	<dict>
		<key>nameCn</key>
		<string>魔羯座</string>
		<key>nameEn</key>
		<string>Capricorn 
Capricorn 
</string>
		<key>image</key>
		<string>capricorn 
Capricorn 
</string>
		<key>date</key>
		<string>12.22 - 01.19</string>
	</dict>
	<dict>
		<key>nameCn</key>
		<string>魔羯座</string>
		<key>nameEn</key>
		<string>Capricorn 
Capricorn 
</string>
		<key>image</key>
		<string>capricorn 
Capricorn 
</string>
		<key>date</key>
		<string>12.22 - 01.19</string>
	</dict>
	<dict>
		<key>nameCn</key>
		<string>魔羯座</string>
		<key>nameEn</key>
		<string>Capricorn 
Capricorn 
</string>
		<key>image</key>
		<string>capricorn 
Capricorn 
</string>
		<key>date</key>
		<string>12.22 - 01.19</string>
	</dict>
	<dict>
		<key>nameCn</key>
		<string>魔羯座</string>
		<key>nameEn</key>
		<string>Capricorn 
Capricorn 
</string>
		<key>image</key>
		<string>capricorn 
Capricorn 
</string>
		<key>date</key>
		<string>12.22 - 01.19</string>
	</dict>
	<dict>
		<key>nameCn</key>
		<string>魔羯座</string>
		<key>nameEn</key>
		<string>Capricorn 
Capricorn 
</string>
		<key>image</key>
		<string>capricorn 
Capricorn 
</string>
		<key>date</key>
		<string>12.22 - 01.19</string>
	</dict>
	<dict>
		<key>nameCn</key>
		<string>魔羯座</string>
		<key>nameEn</key>
		<string>Capricorn 
Capricorn 
</string>
		<key>image</key>
		<string>capricorn 
Capricorn 
</string>
		<key>date</key>
		<string>12.22 - 01.19</string>
	</dict>
</array>
</plist>
